html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #e6e6f6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    max-width: 600px;
    margin: auto;
}

header {
    background-color: #62bdee;
    color: #393941;
    text-align: center;
    padding: 20px 0;
    border-bottom: 4px solid #393941;
    width: 100%;
    box-sizing: border-box;
}

.smallHeader {
    font-size: 15pt;
    font-weight: bold;
    color: #393941;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #393941;
    width: 100%;
    box-sizing: border-box;
}

.line {
    color: #393941;
    text-align: center;
    border-bottom: 2px solid #393941;
    width: 100%;
    box-sizing: border-box;
}
.space {
    width: 20px;
    height: 20px;
}

/* Nav Info */
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e6e6f6;
    color: #393941;
    border: 1px solid #393941;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c5cde6;
    color: #000000;
}

/* container info for full page*/
.containerFull {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 20px;
}

.itemHome {
    text-align: center;
    background-color: #a4deff;
    border: 2px solid #393941;
    color: #393941;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    margin: 0 75px;
    box-sizing: border-box;
}

/* container for full page (vertical) */
.containerFull2 {
    padding-top: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh;
}

.itemNesting {
    margin: 10px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Image Info */
img {
    display: block;
    margin: 0 auto;
}

.imgHome {
    width: 100%; 
    height: 100%;
    border-radius: 10px;
}

.custom-list {
    list-style-type: square; 
    text-align: left;
    color: #393941;
}

/* solver stuff */
.buttonSolver{
    width: 50px; 
    height: 50px; 
    padding: 0;
    border: none;
}

.button-group {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 0 10px; 
}

.button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
}
.button-groups {
    display: flex; /* Use flexbox */
}

fieldset {
    color: #393941;
    border-color: #393941;
    border-style: solid;
}

.imgSolver {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

button img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: #62bdee;
    color: #393941;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #393941;
    width: 100%;
    box-sizing: border-box;
}