:root {
    /* font sizing */
    --fontHeader: 16px;
    --fontTitle: 20px;
    --fontBtn: 16px;
    --fontList: 16px;
    /* padding */

    /* border */
    --borderHeader: 5px;
    --borderTitle: 5px;
    --borderRadius: 5px;
    --boderLine: 3px;
    --borderBtn: 2px;

    /* button */
    --selectBtn: 40px;

    /* color */
    --dark1: #393941;
    --dar1Shift: rgba(75, 75, 75, 0.265);
    /*  */
    --light1: #e6e6f6;
    --light2: #ccc;
    --light3: #62bdee;
    /*  */
    --bold1: #ff0000;
    --bold2: #0000ff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--light1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    /* font/sizing */
    font-size: var(--fontHeader);
    border-bottom: var(--borderHeader) solid var(--dark1);
    /* color */
    background-color: var(--light3);
    color: var(--dark1);
    /* other */
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.smallHeader {
    /* font/sizing */
    font-size: var(--fontTitle);
    /* color */
    color: var(--dark1);
    /* other */
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.line {
    /* font/sizing */
    border-bottom: var(--boderLine) solid var(--dark1);
    /* color */
    color: var(--dark1);
    /* other */
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.spaceSmall {
    /* sizing */
    width: 5px;
    height: 5px;
}
.spaceBig {
    /* sizing */
    width: 20px;
    height: 20px;
}

/* Nav Info */
button {
    /* font/sizing */
    margin: 10px;
    padding: 10px 20px;
    border-radius: var(--borderRadius);
    font-size: var(--fontBtn);
    border: var(--borderBtn) solid var(--dark1);
    /* color */
    background-color: var(--light1);
    color: var(--dark1);
    /* other */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    /* color */
    background-color: var(--light2);
    color: #000000;
}

/* container info for full page*/
.containerFull {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex: 1;
}

/* Main container for content */
.containerFull2 {
    flex: 1;
    overflow: auto;
}

.itemHome {
    /* font/sizing */
    border-radius: 1vh;
    width: 320px;
    padding: 15px;
    margin: 50px;
    border: 0.3vh solid var(--dark1);
    /* color */
    color: var(--dark1);
    background-color: #a4deff;
    /* other */
    text-align: center;
    box-sizing: border-box;
}

/* container for full page (vertical) */
.containerFull2 {
    /* font/sizing */
    padding: 15px;
    height: 100vh;
    /* other */
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    
}

.itemNesting {
    /* font/sizing */
    margin: 5px; 
}

.container {
    /* font/sizing */
    /* margin-top: 1vw; */
    /* other */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Info */
/* img {
    display: block;
    margin: 0 auto;
} */

.imgHome {
    /* font/sizing */
    border-radius: 1.5vw;
    width: 100%; 
}

.custom-list {
    /* font/sizing */
    font-size: var(--fontList);
    /* color */
    color: var(--dark1);
    /* other */
    list-style-type: square; 
    text-align: left;
}

/* solver stuff */
.buttonSolver{
    /* font/sizing */
    width: 4vh; 
    height: 4vh; 
    /* other */
    padding: 0;
    border: none;
}

.button-group {
    /* font/sizing */
    margin: 10px;
    /* other */
    /* display: flex; 
    flex-direction: column; 
    align-items: center; */
}

.button-group {
    /* font/sizing */
    grid-gap: 5px; 
    /* other */
    grid-template-columns: repeat(3, 1fr); 
    display: grid;
}
.button-groups {
    padding: 1px; 
    display: flex;
}

fieldset {
    /* font/sizing */
    border-radius: 10px;
    /* color */
    color: var(--dark1);
    border-color: var(--dark1);
}

.imgSolver {
    /* font/sizing */
    width: auto; 
    height: auto;
    /* other */
    object-fit: cover;
}

.imgSolverSolved {
    /* font/sizing */
    width: auto; 
    height: var(--selectBtn); 
    margin: 0.75vh; 
    border-radius: 0.4vh;
    border: 0.25vh solid var(--light2); 
}
.imgSolverSolved2 {
    /* font/sizing */
    width: auto; 
    height: var(--selectBtn);
    margin: 0.75vh; 
    border-radius: 0.4vh;
    border: 0.25vh solid var(--light3); 
    /* color */
    background-color: var(--dar1Shift);
    filter: brightness(50%);
}

button.buttonSolver img {
    /* font/sizing */
    width: auto; 
    height: var(--selectBtn);
    border-radius: 0.4vh;
    border: 0.25vh solid var(--light2); 
    transition: border-color 0.3s, opacity 0.3s;
}

button:hover img {
    opacity: 0.7; 
    border-color: blue; 
}

button.dimmed img {
    border-color: var(--light3); 
    background-color: var(--dar1Shift);
    filter: brightness(50%);
}

.text-bold1 {
    color: var(--bold1);
}

.text-bold2 {
    color: var(--bold2);
}

.p-place{
    margin: 0px;
}

/* footer */
footer {
    /* font/sizing */
    width: 100%;
    padding: 1vh 0;
    border-top: 0.4vh solid var(--dark1);
    /* color */
    background-color: var(--light3);
    color: var(--dark1);
    /* other */
    text-align: center;
}

/* Apply a maximum margin for larger screens */
@media (max-width: 800px) {
    .buttonSolver{
        margin: 5px;
    }
    .button-group {
        /* other */
        grid-template-columns: repeat(2, 1fr); 
        display: grid;
    }
    .itemHome {
        /* font/sizing */
        width: 320px;
        padding: 10px;
        margin: 30px;
    }
} 

/* Apply a maximum margin for larger screens */
@media (max-width: 650px) {
    :root{
        --selectBtn: 30px;
    }
    .button-group {
        margin: 5px;
    }
    .buttonSolver{
        margin: 0px;
    }
    .imgSolverSolved {
        margin: 0px; 
    }
    .imgSolverSolved2 {
        margin: 0px; 
    }
    .p-error{
        font-size: 13px;
    }
    .containerFull{
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }
    .itemHome {
        /* font/sizing */
        width: 320px;
        padding: 10px;
        margin: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
} 